.forums-article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.forums-article img{
  max-width: 65%;
  min-width: 65%;
  height: auto;
}

.forums-article h2{
  text-align: center;
  background-color: chocolate;
  color: $bright-color;
  border: solid 1px $bright-color;
  padding: 0.5rem 0;
  margin: 3rem;
  border-radius: 2rem;

}
.forums-article p{
  color: $bright-color;
}
.pop-sub{
  border: solid $bright-color 1px;
  background-color: chocolate;
  color: $bright-color;
}
.pop-sub:hover{
  color: $primary-color;
}

.border{
  color: $bright-color;
  background-color: $second-color;
}

.sub-title{
  color: $primary-color;
}
.sub-title:hover{
  color: chocolate;
}

.forums-button{
  display: block;
  background-color: chocolate;
  color: $primary-color;
  padding: 0 1rem;
}
.forums-button:hover{
  color: $bright-color;
}