.admin{
  padding: 0;
  margin:  0;
  text-align: center;
}

.user-img{
  height: 1.5rem;
  border-radius: 50%;
}
h1{
  color: $bright-color;
}
h3{
  color: $bright-color;
  padding: 0.5rem 0;
  margin-top: 2rem;
  border-top: 1rem solid $chocolate;
  border-radius: 2rem;
}
h4{
  color: $bright-color;
}

#news{
  display: inline-block;
  padding: 3vw ;
  margin: auto;
}

.news{
  flex-direction: column;
  flex-wrap: wrap;
}
.news img{
  width: 15vw;
  border-radius: 2rem;
}
.news p, h4{
  width: 15vw;
  text-align: center;
}

.more-news{
  color: $bright-color;
  font-size: medium;
}

#games{
  display: flex;
  display: inline-block;
  padding: 3rem 1rem;
}

.games{
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.games img{
  width: 15vw;
  height: 10rem;
  border-radius: 10%;
}
.games p, h4{
  width: 15vw;
  text-align: center;
}

.more-games{
  color: $bright-color;
  font-size: medium;
}

#forums{
  display: flex;
  display: inline-block;
  padding: 2vw;
  margin: 2vw 1vw;
}

.forums{
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.forums img{
  width: 15vw;
  height: 10rem;
  border-radius: 10%;
}
.forums p, h4{
  width: 15vw;
  text-align: center;
}
.carousel {

  margin-top: 4rem;

}
.carousel-inner img {
  object-fit: cover;
}
.car-img {
  height: 60vh;
}

.car-title{
  text-align: center;
  background-color: $primary-color;
  color: $bright-color;
  border: solid 1px $bright-color;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: auto;
}
.car-title:hover{
  color: $chocolate;
}
.more-forums{
  color: $bright-color;
  font-size: medium;
  margin-bottom: 2rem;
}

.more:hover{
  color: $chocolate;
}
