{% extends 'base.html.twig' %}
    {% block title %}Sign-in{% endblock %}
    {% block main %}
    <body class="sign-in">
        <div class=" form text-center offset-4 col-4">{{ form(form) }}</div>
    </body>
    {% endblock %}
    {% block footer %}

    {% endblock %}

