@media screen and (min-width: 1280px){
  #burger{
    display: none;
  }
  .logo-burg{
    display: none;
  }
  .menu-burg{
    display: none;
  }
}
@media screen and (max-width: 1080px) {

  .menu-desk{
    display: none;
  }

  .logoburger{
    height: 3vh;
    border-radius: 2rem;
  }

  .car-img {
    height: 25vh;
  }

  .carousel{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #news{
    display: inline-block;
    padding: 3vw;
    margin: 0 20vw;
  }
  .find-article{
    margin: 0 -5vw;
  }
  .news-article h2{
    margin: 3vh 2vw;
  }
  .news-article img{
    height: 20vh;
    object-fit: cover;
  }

  .news p, h4{
    width: 80vw;
    padding-top: 2rem;
    margin-left: -30vw;
  }
  .news img{
    border-radius: 2rem;
    margin-left: -30vw;
    width: 80vw;
  }


  #games{
    width: 80vw;
    padding-top: 0;
  }

  .games img{
    width: 80vw;
    height: 20rem;
    border-radius: 10%;
    margin-left: -23vw
  }
  .games-article img{
    width: 80vw;
    height: 20rem;
    border-radius: 10%;
  }
  .games h4{
    margin: 0 -22.5vw;
  }

  .forums{
    width: 80vw;
  }

  .forums img{
    width: 60vw;
    height: 20rem;
    margin-left: -22.5vw

  }

  .forums h4{
    margin-left: -10vw;
  }

  .car-title{
    margin-left: 0;
  }

  .games-find img{
    margin-left: 15vw;
    max-width: 65%;
    min-width: 65%;
    object-fit: cover;
  }

  .games-find h2{
    text-align: center;
    background-color: $chocolate;
    color: $bright-color;
    border: solid 1px $bright-color;
    padding: 0.5rem 0;
    border-radius: 2rem;
    margin-left: 21vw !important;
  }
}

@media screen and (max-width: 810px){

  .menu-desk{
    display: none;
  }
  ul{
    padding: 0;
  }

  .logoburger{
    width: 3vh;
    border-radius: 2rem;
  }
  .carousel{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .car-img {
    height: 25vh;
  }

  #news{
  display: inline-block;
  padding: 3vw;
  margin: 0 20vw;
  }

  .news p, h4{
    width: 80vw;
    padding-top: 2rem;
    margin-left: -30vw;
  }
  .news img{
    width: 80vw;
    border-radius: 2rem;
    margin-left: -30vw;
  }
  .news-article img{
    height: 15vh;
    object-fit: cover;
  }

  #games{
    width: 80vw;
    padding-top: 0;
    }

  .games img{
    width: 80vw;
    height: 10rem;
    border-radius: 10%;
  }
  .games-article img{
    width: 80vw;
    height: 10rem;
    border-radius: 10%;
  }
  .games h4{
    margin: 0 -22.5vw;
  }

  .forums{
    width: 80vw;
  }

  .forums img{
    width: 80vw;
    height: 10rem;
    margin-left: -20vw;
  }

  .forums h4{
    margin-left: -10vw;
  }
  h2, h3{
    text-align: center;
  }

  .games-find img{
    margin-left: 15vw;
    max-width: 65%;
    min-width: 65%;
    object-fit: cover;
  }

  .games-find h2{
    text-align: center;
    background-color: $chocolate;
    color: $bright-color;
    border: solid 1px $bright-color;
    padding: 0.5rem 0;
    border-radius: 2rem;
    margin-left: 30vw !important;
  }
}
