nav {
  background-color: #204C52;
  text-align: center;
}

ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

nav a:hover {
  color: #22B194;
}

.admin {
  padding: 0;
  margin: 0;
  text-align: center;
}

.user-img {
  height: 1.5rem;
  border-radius: 50%;
}

h1 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
  padding: 0.5rem 0;
  margin-top: 2rem;
  border-top: 1rem solid chocolate;
  border-radius: 2rem;
}

h4 {
  color: #FFFFFF;
}

#news {
  display: inline-block;
  padding: 3vw;
  margin: auto;
}

.news {
  flex-direction: column;
  flex-wrap: wrap;
}

.news img {
  width: 15vw;
  border-radius: 2rem;
}

.news p, h4 {
  width: 15vw;
  text-align: center;
}

.more-news {
  color: #FFFFFF;
  font-size: medium;
  margin-right: 3vw;
}

#games {
  display: flex;
  display: inline-block;
  padding: 3rem 1rem;
}

.games {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.games img {
  width: 15vw;
  height: 10rem;
  border-radius: 10%;
}

.games p, h4 {
  width: 15vw;
  text-align: center;
}

.more-games {
  color: #FFFFFF;
  font-size: medium;
}

#forums {
  display: flex;
  display: inline-block;
  padding: 2vw;
  margin: 2vw 1vw;
}

.forums {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.forums img {
  width: 15vw;
  height: 10rem;
  border-radius: 10%;
}

.forums p, h4 {
  width: 15vw;
  text-align: center;
}

.carousel {
  margin-top: 4rem;
}

.carousel-inner img {
  object-fit: cover;
}

.car-img {
  height: 60vh;
}

.car-title {
  text-align: center;
  background-color: #204C52;
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: auto;
}

.car-title:hover {
  color: chocolate;
}

.more-forums {
  color: #FFFFFF;
  font-size: medium;
  margin-right: 8vw;
  margin-bottom: 2vh;
}

.more:hover {
  color: chocolate;
}

.bbg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #204C52 50%, #22B194 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bbg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bbg3 {
  animation-duration: 20s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.admin {
  padding: 0;
  margin: 0;
  text-align: center;
}

.news-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.pic {
  height: auto;
  padding: 2rem 0;
}

.news-article img {
  width: 65vw;
  height: 55vh;
  object-fit: cover;
  overflow: hidden;
}

.news-article h2 {
  color: #FFFFFF;
  padding: 0.5rem 0;
  margin: 3rem;
  border-top: 1rem solid chocolate;
  border-radius: 2rem;
}

.news-article p {
  color: #FFFFFF;
  margin-top: 1rem;
}

.games-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.games-article img {
  max-width: 65%;
  min-width: 65%;
  height: 55vh;
  object-fit: cover;
}

.games-article h2 {
  text-align: center;
  background-color: chocolate;
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  padding: 0.5rem 0;
  margin: 3rem;
  border-radius: 2rem;
}

.games-article p {
  color: #FFFFFF;
}

.game-desc {
  margin-top: 3rem;
}

.border {
  border-style: solid 1px #FFFFFF;
  margin-top: 2rem;
}

.games-button {
  background-color: chocolate;
  color: #204C52;
  border-radius: 2rem;
  padding: 0 1rem;
}

.games-button:hover {
  color: #FFFFFF;
}

.admin {
  padding: 0;
  margin: 0;
  text-align: center;
}

.forums-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.forums-article img {
  max-width: 65%;
  min-width: 65%;
  height: auto;
}

.forums-article h2 {
  text-align: center;
  background-color: chocolate;
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  padding: 0.5rem 0;
  margin: 3rem;
  border-radius: 2rem;
}

.forums-article p {
  color: #FFFFFF;
}

.pop-sub {
  border: solid #FFFFFF 1px;
  background-color: chocolate;
  color: #FFFFFF;
  border-radius: 2rem;
}

.pop-sub:hover {
  color: #204C52;
}

.border {
  color: #FFFFFF;
  background-color: #22B194;
}

.sub-title {
  color: #204C52;
}

.sub-title:hover {
  color: chocolate;
}

.forums-button {
  display: block;
  background-color: chocolate;
  color: #204C52;
  padding: 0 1rem;
  border-radius: 2rem;
}

.forums-button:hover {
  color: #FFFFFF;
}

.accordion {
  font-size: larger;
  width: 50vw;
  border-radius: 2rem;
  margin-top: 1rem;
  background-color: #204C52;
  color: #FFFFFF;
}

.hide-button {
  background-color: #204C52;
  border-radius: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 1280px) {
  #burger {
    display: none;
  }
  .logo-burg {
    display: none;
  }
  .menu-burg {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .menu-desk {
    display: none;
  }
  .logoburger {
    height: 3vh;
    border-radius: 2rem;
  }
  .car-img {
    height: 25vh;
  }
  #news {
    display: inline-block;
    padding: 3vw;
    margin: 0 20vw;
  }
  .news-article h2 {
    margin: 3vh 2vw;
  }
  .news-article img {
    height: 20vh;
    object-fit: cover;
  }
  .news p, h4 {
    width: 80vw;
    padding-top: 2rem;
    margin-left: -30vw;
  }
  .news img {
    border-radius: 2rem;
    margin-left: -30vw;
    width: 80vw;
  }
  #games {
    width: 80vw;
    padding-top: 0;
  }
  .games-article img {
    width: 80vw;
    height: 20rem;
    border-radius: 10%;
  }
  .games h4 {
    margin: 0 -22.5vw;
  }
  .forums {
    width: 80vw;
  }
  .forums img {
    width: 60vw;
    height: 20rem;
  }
  .forums h4 {
    margin-left: -10vw;
  }
  .car-title {
    margin-left: 0;
  }
}
@media screen and (max-width: 810px) {
  .menu-desk {
    display: none;
  }
  ul {
    padding: 0;
  }
  .logoburger {
    width: 3vh;
    border-radius: 2rem;
  }
  .car-img {
    height: 25vh;
  }
  #news {
    display: inline-block;
    padding: 3vw;
    margin: 0 20vw;
  }
  .news p, h4 {
    width: 80vw;
    padding-top: 2rem;
    margin-left: -30vw;
  }
  .news img {
    width: 80vw;
    border-radius: 2rem;
    margin-left: -30vw;
  }
  .news-article img {
    height: 15vh;
    object-fit: cover;
  }
  #games {
    width: 80vw;
    padding-top: 0;
  }
  .games-article img {
    width: 80vw;
    height: 10rem;
    border-radius: 10%;
  }
  .games h4 {
    margin: 0 -22.5vw;
  }
  .forums {
    width: 80vw;
  }
  .forums img {
    width: 80vw;
    height: 10rem;
    margin-left: -10vw;
  }
  .forums h4 {
    margin-left: -10vw;
  }
  h2, h3 {
    text-align: center;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: chocolate;
}

p {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/greypattern.jpg");
}

a {
  text-decoration: none;
}

.logo {
  border-radius: 50%;
  height: 1.5rem;
}

.sign-in {
  background-image: url("../img/image-sign-in.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.form {
  background-color: #FFFFFF;
  border-radius: 2rem;
  border: solid 2px #22B194;
  position: absolute;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
