{% extends 'base.html.twig' %}
    {% block title %}Add a comment{% endblock %}
    {% block main %}
        <div class=" form text-center offset-4 col-4">{{ form(form) }}</div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
