@import "var/colors";
@import "blocks/header";
@import "blocks/home";
@import "blocks/background";
@import "blocks/news";
@import "blocks/games";
@import "blocks/forums";
@import "var/mediaqueries";
@import "blocks/connexion";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/greypattern.jpg");
}
a{
  text-decoration: none;
}

.logo{
  border-radius: 50%;
  height: 1.5rem;
}

.sign-in{
  background-image: url("../img/image-sign-in.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.form{
  background-color: $bright-color;
  border-radius: 2rem;
  border: solid 2px $second-color;
  position: absolute;
  padding: 1rem;
}
